/* reset css */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  font-family: "Lato", sans-serif;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

/* partie CSS */
/* 
card-summary
part-text 
part-details
part-button
*/

body {
  background-color: rgb(148, 190, 245);
  padding: 2rem;
}
.page-elements {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.part-image {
  width: 100%;
  height: 12.8em;
  padding: 0;
  background-image: url("../images/illustration-hero.svg");
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
}
.card-summary {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 23rem;
  background-color: #fff;
  border-radius: 1em;
}
.part-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em 2em 2em 2em;
}
/* partie texte */

.part-description h2 {
  font-size: 1.6em;
  font-weight: 1000;
}
.part-text {
  text-align: center;
  padding: 1em 0 1em 0;
  line-height: 1.4em;
}
.part-details {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1em;
  width: 90%;
  margin-bottom: 1em;
  background-color: rgb(241, 236, 236);
  border-radius: 1em;
}
.part-details-img-text {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.part-details-text {
  padding-left: 0.8em;
}
.part-details-text h4 {
  font-weight: 1000;
  font-size: 1em;
  padding-bottom: 0.5em;
}
.part-details-text p {
  font-size: 0.9em;
}
.part-details-change {
  margin-left: auto;
}
.part-details-change a {
  text-decoration: underline;
}
.part-details-change a:hover {
  text-decoration: none;
}
a {
  text-decoration: none;
}
/* partie button */

.part-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
.part-button button {
  margin-bottom: 0.5em;
}
#pay {
  display: inline-block;
  background-color: rgb(132, 82, 138);
  border-color: rgb(132, 82, 138);
  border-radius: 0.6em;
  text-align: center;
  color: rgb(255, 255, 255);
  padding: 1em;
  font-weight: 900;
  width: 90%;
}
#pay:hover {
  background-color: rgb(196, 145, 202);
  border-color: rgb(196, 145, 202);
}
#order {
  display: inline-block;
  border-radius: 0.6em;
  text-align: center;
  color: rgb(168, 168, 168);
  padding: 1em;
  font-weight: 900;
  width: 90%;
}
#order:hover {
  color: rgb(68, 68, 68);
}
